* {
    display: flex;
    flex-direction: column;
}

.header {
    flex-direction: row;
}

.subheader {
}

.information {
    flex-direction: column;
}

.info-bit {
}

.quote {
    flex-direction: column;
}

.action {
}

