.header {
    display: flex;
}

.subheader {
    display: flex;
}

.information {
    display: flex;
    flex-direction: column;
}

.info-bit {
    display: flex;
}

.quote {
    display: flex;
    flex-direction: column;
}

.action {
    display: flex;
}

