* {
    display: flex;
    flex-direction: column;
}

.header {
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 10px;
    background-color: #1f2937;
}

.links {
    flex-direction: row;
    gap: 10px;
}

.subheader {
    flex-wrap: wrap;
    background-color: #1f2937;
}

.information {
    flex-direction: column;
}

.info-bit {
}

.quote {
    flex-direction: column;
}

.action {
}

button {
    display: block;
    width: fit-content;
}

.copyright {
    background-color: #1f2937;
}

.awesome {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
}

.secondary, .subtext, .links {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}